{% extends "base.html" %} {% block content %}
    <div class="row align-items-start align-top">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6  text-center">
            <h1 class="text-center">Enter Your Number</h1>
            {% if error_message %}<p class="text-danger"><strong>{{ error_message }}</strong></p>{% endif%}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Number" name="number">
                </div>
                <input type="hidden" value="{{ conclusion_string }}" name="conclusions">
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
        <div class="col-sm-3">
            <h2>Conclusions</h2>
            <ul>
                {% for psychic, conclusion in psychics %}
                    <li>{{ psychic }}: {{ conclusion }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}