{% extends "base.html" %} {% block content %}

    <div class="row align-items-start">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6  text-center ">
            <h2>The Psychics Examination</h2>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <div class="row align-items-start align-top">
        <div class="col-sm-3">
            <h2>History</h2>
            <ul>
                {% for psychic in psychics %}
                    <li>
                        {{ psychic.name }} {{ psychic.rate }}%
                        <ul>
                            {% for event in psychic.events.all %}
                                <li>
                                {% if event.right %}
                                   <p class="text-success">{{ event.answer }} it's True</p>
                                {% else %}
                                    <p class="text-danger">{{ event.answer }} but right answer is {{ event.right_answer }}</p>
                                {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6 text-center my-0">
            <a class="btn btn-primary" href="{% url 'exam' %}" role="Exam">Start Examination</a>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

{% endblock %}